<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Proyectos/ProyectoGenesisNails/

    # Rutas para la API
    RewriteRule ^api/(.*)$ api/index.php?ruta=$1 [QSA,L]

    # Rutas para la parte visual
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?views=$1 [QSA,L]
</IfModule>